{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
    <div style="color: black;">
        {{ form_label(form.nom, null, {'label_attr': {'class': 'font-bold text-gray-700'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-input mt-1 block w-full p-2 border border-gray-300 rounded-md'}}) }}
    </div>
    <div style="color: black;">
        {{ form_label(form.prenom, null, {'label_attr': {'class': 'font-bold text-gray-700'}}) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-input mt-1 block w-full p-2 border border-gray-300 rounded-md'}}) }}
    </div>
    <div style="color: black;">
        {{ form_label(form.email, null, {'label_attr': {'class': 'font-bold text-gray-700'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-input mt-1 block w-full p-2 border border-gray-300 rounded-md'}}) }}
    </div>
    <div style="color: black;">
        {{ form_label(form.sujet, null, {'label_attr': {'class': 'font-bold text-gray-700'}}) }}
        {{ form_widget(form.sujet, {'attr': {'class': 'form-input mt-1 block w-full p-2 border border-gray-300 rounded-md'}}) }}
    </div>
    <div style="color: black;">
        {{ form_label(form.message, null, {'label_attr': {'class': 'font-bold text-gray-700'}}) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-input mt-1 block w-full p-2 border border-gray-300 rounded-md'}}) }}
    </div>
    <button class="px-4 py-2 bg-blue-500 text-white rounded cursor-pointer">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}