{% extends 'base_back.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
    body {
        overflow-x: hidden;
    }
</style>
<div class="flex flex-col">
  <div class="sm:mx-0.5 lg:mx-0.5">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <div class="mb-4">
            <a href="{{ path('app_contact_index') }}" class="px-4 py-2 bg-blue-500 text-white rounded cursor-pointer inline-block mt-4">Back to list</a>
            <a href="{{ path('app_contact_edit', {'token': contact.token}) }}" class="px-4 py-2 bg-green-500 text-white rounded cursor-pointer inline-block mt-4">Edit</a>
        </div>
        <table class="min-w-full mb-4">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Id</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Nom</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Prenom</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Email</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Sujet</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Message</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">CreatedAt</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-100 border-b">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ contact.id }}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ contact.nom }}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ contact.prenom }}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ contact.email }}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ contact.sujet }}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ contact.message }}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
          </tbody>
        </table>
        {{ include('back/contact/_delete_form.html.twig') }}
      </div>
    </div>
  </div>
</div>
{% endblock %}